.Rproj.user
.Rhistory
.RData
.Ruserdata


Dose_finding/output/
Dose_finding/Dose_finding_resazurin.html
Dose_finding/Dose_finding_resazurin_files/
Dose_finding/240528_dose_finding_resazurin_pub.Rproj
Pathway_comparison_SI.Rproj
output/plots/.svg

Pathway_enrichment_preparation/output/
Pathway_enrichment_preparation/Pathway_enrichment_preparation.html
Pathway_enrichment_preparation/Pathway_enrichment_preparation_files/
Pathway_enrichment_preparation/Pathway_enrichment_preparation_cache/

Pathway_enrichment_results/output/
Pathway_enrichment_results/Pathway_enrichment_results.html
Pathway_enrichment_results/Pathway_enrichment_results_files/
Pathway_enrichment_results/Pathway_enrichment_results_cache/

Pathway_enrichment_results/hsa00140.xml
Pathway_enrichment_results/hsa00240.xml

.qs

.rds

